// User variables:
$accent: #F44336; // Accent Color
$textcolor: #fff; // Text Color
$fontsize: 14px; // Body Font Size
$lineheight: 1.3; // Document Line Height

// Контейнер
$gutter: 15px 0;
$containerWidth: 1170px;
